<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gruppo4.dib.sms2016.mydib2016">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_uniba"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".business.splash.SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".business.Autenticazione.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".business.homepage.HomePage"
            android:label="@string/title_activity_not_logged"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".business.not_logged.bus.Bus"
            android:label="@string/title_activity_bus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".business.logged.libretto.EsameActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".business.logged.profilo.Profilo"
            android:label="Utente ricercato"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".business.logged.sharing.Sharing"
            android:label="Condivisione materiale"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".business.logged.sharing.DownloadNotes"
            android:label="Scarica Appunti"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:label="Carica Appunti"
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".business.logged.sharing.UploadNotes"></activity>
    </application>

</manifest>